# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment folders
venv/
env/
.venv/

# IDE/editor settings
.vscode/
.idea/

# OS system files
.DS_Store

# Logs
*.log